{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">🛒 My Cart</h2>

<div class="card border-0 shadow-sm p-4">

{% for key, item in cart.items %}

<div class="row align-items-center mb-4">

    <div class="col-md-2">
        <img src="{{ item.image }}"
             class="img-fluid rounded"
             style="height:120px; object-fit:cover;">
    </div>

    <div class="col-md-3">
        <h5>{{ item.name }}</h5>
        <h6 class="text-success">₹{{ item.price }}</h6>
    </div>

    <div class="col-md-3">

        <a href="{% url 'decrease_quantity' key %}"
           class="btn btn-outline-dark btn-sm">-</a>

        <span class="mx-3 fw-bold">
            {{ item.quantity }}
        </span>

        <a href="{% url 'increase_quantity' key %}"
           class="btn btn-outline-dark btn-sm">+</a>

    </div>

    <div class="col-md-2">
        <h6>₹{{ item.subtotal }}</h6>
    </div>

</div>

<hr>

{% endfor %}

<div class="text-end">

    <h3>Total: ₹{{ total }}</h3>
    <a href="/" class="btn btn-outline-secondary">
    ← Continue Shopping
</a>
  <a href="/checkout/" class="btn btn-pink btn-lg">
    Checkout
</a>

</div>

</div>

{% endblock %}